[user]
	name = Chris Hamons
	email = chrishamons@onesignal.com
[alias]
	unstage = reset HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	NukeSubs = submodule foreach git clean -xdf
	NukeIt = clean -xdf
	undo = reset HEAD~
	resurface = reset --soft HEAD~1
[credential]
	helper = osxkeychain
[core]
	editor = vim
	pager = delta
[push]
	default = simple
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    syntax-theme = Visual Studio Dark+
	side-by-side = false
	line-numbers = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default